html {
    height: 100%;
}

body {
    overflow-anchor: none;
    min-height: 100%;
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color:#222;
    font-size: 14px;
    line-height: 26px;
    padding: 50px 10px 50px;
}

.container {
    min-width: 700px;
    max-width: 900px;
    background-color: #fff;
    margin: 0px auto 0px;
    box-shadow: 1px 1px 2px #dad7d7;
    border-radius: 3px;
    padding: 40px;
}

.separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
}

.label {
    color: #999;
    font-weight: 300;
}

.header {
    margin-bottom: 20px;
}

.header .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700;
}

.header .navigation {
    margin-bottom: 10px;
}

.header .badge {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 2px;
    background-color: #999;
    border-radius: 20px;
}

.emph {
    font-weight: bold;
    text-transform: uppercase;
}

.navigation {
    margin-top: 20px;
    text-align: center;
}

#summary,  #experience, #education, #skills{
    margin-bottom: 30px;
}

.section{
    margin-bottom: 20px;
}

.section .section_title {
    letter-spacing: 2px;
    font-size: 20px;
    text-align: center;
    background-color: #dad7d7;
    font-variant: small-caps;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.section .section_text {
    margin-bottom: 5px;
}

.section .section_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section .section_list .section_list_title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}

.section .section_list .section_list_item {
    margin-right: 40px;
    margin-bottom: 5px;
    text-indent: -20px;
    padding-left: 30px;
}

.section .section_list .section_list_item::before {
    content: '>';
    font-weight: 900;
    color:blue;
    margin-right: 10px;
}

.section .section_item {
    margin-bottom: 20px;
}

.section .section_item:last-of-type {
    margin-bottom: 5px;
}

.section .left,
.section .right {
    vertical-align: top;
    display: inline-block;
}

.section .left {
    width: 60%;
}

.section .right {
    text-align: right;
    width: 39%;
}

.section .section_item .position, 
.section .section_item .degree {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.section .section_item .location {
    font-weight: bold;
}

.section .section_item .duration, 
.section .section_item .address,
.section .section_item .major {
    color: #444;
    font-weight: 300;
}

.section .description {
    margin-left: 40px;
    margin-right: 40px;
}

.footer {
    border-top: 1px solid #999;
    text-align: center;
}

.columnar {
    column-width: 250px;
    column-gap: 30px;
}